* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../imgs/bg.jpg);
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
a:hover {
  text-decoration: none;
  color: #e14d7e;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ul {
  list-style-type: none;
}
.wrapper {
  position: relative;
  display: grid;
  min-height: 100vh;
  width: 1366px;
  max-width: 100%;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-template-rows: auto;
  margin: 0 auto;
}
.header-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  max-height: 3rem;
  position: fixed;
  width: 1366px;
  max-width: 100%;
  background: black;
  padding: 5px;
  z-index: 2;
}
.logo {
  justify-self: center;
  align-self: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #1d6cb0;
}
.nav {
  justify-self: center;
  align-self: center;
}
.nav li {
  display: inline-block;
  margin: 0.4rem;
}
.login {
  justify-self: center;
  align-self: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #1d6cb0;
}
.anime-wrap {
  position: relative;
  display: grid;
  height: 50vh;
  width: 100%;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}
.anime {
  position: relative;
  justify-self: center;
  text-anchor: middle;
  align-self: flex-end;
  width: 100%;
  transform: translateY(-30vh);
}
.anime text {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  fill: #4d1b4369;
  stroke: #e14d7e;
  stroke-linejoin: round;
  stroke-dasharray: 203;
  stroke-dashoffset: 203;
  animation: stroke 2s alternate ease-in-out infinite;
}
.scroll-wrap {
  display: grid;
  height: 50vh;
  grid-column: 1 / 13;
  grid-row: 2 / 3;
}
.scroll svg {
  display: block;
  fill: rgba(255, 255, 255, 0.5);
  animation: scroll alternate 1s ease-in infinite;
}
.scroll {
  justify-self: center;
  align-self: flex-end;
}
.content {
  display: grid;
  grid-column: 1 / 13;
  grid-template-columns: auto;
  background: rgb(20, 20, 20);
  justify-items: center;
  text-align: center;
  padding: 2rem;
  grid-gap: 1rem;
  margin: 0 2rem;
}
.content p {
  line-height: 1.8rem;
  padding-bottom: 2rem;
}
.content * {
  padding-top: 2rem;
}
@keyframes scroll {
  to {
    transform: translateY(20px);
    fill: rgba(255, 255, 255, 1);
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
